:root {
    --ion-color-favorite-button: #7F5539;
}

.ion-color-favorite-button {
    --ion-color-base: var(--ion-color-favorite-button);
}

.menu {
    /* border: solid 1px blueviolet; */
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    /* height: 100%; */
}

.menu2 {
    /* border: solid 1px blueviolet; */
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    text-align: center;
    /* height: 100%; */
}

.menu-btn {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    width: 70%;
    height: 35px;
    margin: auto;
    margin-top: 4px;
}

.menu-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    font-size: 5vw;
    text-align: center;

    width: auto;
    height: 17vh;

    margin: auto;
    margin-bottom: -20px;

    border-radius: 10%;
    overflow: hidden;
}

ion-img::part {
    border-radius: 20px !important;
}

ion-img {
    height: 120px !important;
    max-width: 180px;
    /* width: 120px !important; */
}

.item-card ion-card {
    border-radius: 2%;
    /* padding: 0%; */
    /* margin: -10px !important; */
}

ion-card-header.item-card {
    display: flex;
    flex-flow: column-reverse;
}

ion-card {
    text-align: center !important;
}

.item-card img {
    border-radius: 0% 0% 0% 0%;
    padding-top: 10px;
}

.info-item {
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;

    width: 100%;
    height: 100%;
}

.ripple-parent {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    user-select: none;
}

.rounded-rectangle {
    width: 70%;
    height: 35px;
    margin: auto;
    margin-top: 4px;
    border-radius: 12px;
    background-color: #7F5539;

}